#-----------------
# Global
#-----------------

#----------------------
# App-Specific
#----------------------

# Session keys
FLASK_SECRET_KEY="nothin-to-see-here"


#----------------------
# Build-Specific
#----------------------

# The port exposed by the service outside the container instance.
# Adds one for uat to avoid prod/uat port conflict
EXPOSED_PORT=8500

#----------------------
# Runtime-Specific
#----------------------

# Volume Paths
# *_SRC is the local absolute path

# Volume paths for container source code
SOURCE_SRC=/Users/alexbilson/source/chaos-tasks/src
#
# Volume paths for container data
CONTENT_SRC=/Users/alexbilson/source/chaos-tasks/data
