<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Template</title>

    <style>

      li .priority {
        color: red;
      }

      li .projects {
        color: blue;
      }

      li .contexts {
        color: green;
      }

    </style>
</head>

<body>
  <ul>
  {{ range .List }}
    <li>(<span class="priority">{{ .Priority }}</span>) {{ .Text }} <span class="projects">{{ range .Projects }} +{{ . }}{{ end }}</span><span class="contexts">{{ range .Contexts }} @{{ . }}{{ end }}</span></li>
  {{ end }}
  </ul>
</body>

</html>
