@page "/tasks"
@using ChaosTasks.Services
@inject TodoFileService todoFileService

<PageTitle>Task List</PageTitle>

<h1>Task List</h1>

<p>This component reads all my todos from todo.txt.</p>

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <ul>
    @foreach (var task in tasks)
    {
      <li>@task</li>
    }
  </ul>
}

@code {
    private string[] tasks = System.Array.Empty<string>();

    protected override void OnInitialized()
    {
      System.Console.WriteLine("loading data...");
      tasks = File.ReadAllLines(@"/mnt/data/basic.txt");
      todoFileService.ListenForChanges(@"/mnt/data", "basic.txt", this.OnFileChanged);
    }

    private void OnFileChanged(object sender, FileSystemEventArgs e) {
      if (e.ChangeType == WatcherChangeTypes.Changed) {
	InvokeAsync(() => {
	  Console.WriteLine($"file changed, reloading: {e.FullPath}");
	  tasks = File.ReadAllLines(@"/mnt/data/basic.txt");
	  StateHasChanged();
	});
      }
    }
}
